
# package directories
/**/node_modules
/**/jspm_packages
/**/.webpack

# Serverless directories
/**/.serverless

# esbuild directories
/**/.esbuild

#environment variables
/**/.env

#testes
/**/coverage

#builds
/**/.dist
/**/dist
#ci

#yarn
